@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  background-color: #1a1a1a;
  color: #f1f1f1;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  @apply mx-auto px-4;
}
